@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap");

/* Universal */

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML */

body {
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(#ff6f91, #bf43e6);
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}

h1 {
  font-size: 36px;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

li {
  list-style: none;
}

/* About Classes */
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}

.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 12px;
}

.text--green {
  color: #fafafa;
}

/* Navigation Bar */
.navbar__toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px;
  transition: all 0.3s ease-in-out;
  background: #fff;
}

@media screen and (max-width: 768px) {
  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    width: 58%;
    opacity: 0;
    height: 50vh;
    margin-top: 95px;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Header */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-left: 0px;
  padding: 10px 0px;
  font-weight: 700;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  z-index: 10000;
}

header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 20px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  letter-spacing: 3px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 20px;
  color: #fff;
}

header ul li a:hover,
header ul li a.active {
  background: #fff;
  color: #2b1055;
}

@media screen and (max-width: 780px) {
  header .logo {
    margin-top: -180px;
    text-align: right;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  header {
    margin-top: -70px;
    text-align: right;
    font-weight: 400;
  }
}

/* About me Homepage */
#about-links {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-me__info {
  display: flex;
  flex-direction: column;
}

.about-me__info--container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

.about-me__picture--mask {
  width: 350px;
  height: 350px;
  border-radius: 8%;
  filter: drop-shadow(16px 4px 4px #fdbafc);
}

.about-me__picture {
  width: 250%;
  margin-top: 55px;
  object-fit: cover;
  transition: 0.6s ease-in-out;
  cursor: pointer;
}

.about-me__picture:hover {
  transform: scale(1.1);
}

.about-me__info--title {
  position: absolute;
  margin-left: 285px;
  margin-top: -45px;
  animation: fade-up 650ms 400ms backwards;
}

.about-me__info--para {
  margin-top: 125px;
  font-size: 20px;
  margin-left: 185px;
  text-align: center;
}

.nav__link--anchor {
  color: #131313;
  padding: 5px 23px 5px;
  transition: all 0.3s ease;
}

.nav__link--list {
  display: flex;
  height: 80px;
}

.wave {
  display: inline-block;
  animation: animate-wave 800ms infinite ease-in-out;
}

@keyframes animate-wave {
  0% {
    transform: rotate(10);
  }
  50% {
    transform: rotate(85deg);
  }
  100% {
    transform: rotate(10);
  }
}

/* Small phones */
@media screen and (max-width: 780px) {
  .about-me__picture {
    margin-top: -35px;
    margin-left: 80px;
  }

  .about-me__picture:hover {
    transform: scale(1.1);
  }

  .about-me__info--title {
    margin: 0;
    margin-left: 80px;
    margin-top: 150px;
    position: absolute;
    font-size: 2.2em;
    animation: fade-up 650ms 400ms backwards;
  }

  .about-me__info--para {
    font-size: 20px;
    margin-top: 320px;
    margin-left: -100px;
  }

  .logo__link {
    padding: 10px;
  }
}

/* Buttons */

.buttons-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-about {
  border: none;
  background-color: #6d22b4;
  color: #ffffff;
  border-radius: 25px;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  font-family: "Roboto", sans-serif;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.button-about:hover {
  background-color: #ff6f91;
  color: #fff;
  transform: scale(1.2);
  transition: transform 0.5s ease-out;
}

.button-contact {
  border: none;
  background-color: #6d22b4;
  color: #ffffff;
  border-radius: 25px;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  font-family: "Roboto", sans-serif;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.button-contact:hover {
  background-color: #ff6f91;
  color: #fff;
  transform: scale(1.2);
  transition: transform 0.5s ease-out;
}
